.registration-form {
  margin: auto;
  margin-left: 5%;
  margin-top: 10%;
  padding-left: 40%;
  padding-top: 5%;
  padding-bottom: 5%;
  border: ridge;
  box-shadow: 10px 10px grey;
}

.registration-form p {
  margin-bottom: 5%;
}
