.user-info {
  color: white;
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: 5px solid gray;
}

.editForm {
  color: white;
  display: grid;
  //justify-content: center;
  padding-bottom: 5%;
}
.acc-btns {
  padding-bottom: 5%;
}

.marginSpacer {
  margin-top: 2%;
  margin-left: 1%;
}

.profileInformation {
  padding-top: 10px;
}
