.buttons-login {
  margin-top: 20px;
}

.form-login {
  display: grid;
  justify-content: center;
  margin-left: 25%;
  margin-right: 25%;
  width: 50%;
}

.form-container {
  padding-top: 5rem;
  padding-bottom: 5rem;
  border: ridge;
  margin-left: 25%;
  margin-right: 25%;
  width: 50%;
  margin-top: 10%;
  box-shadow: 10px 10px grey;
  background-color: #303030 !important;
}

.form-label {
  color: white;
}

.login-error {
  color: #ff6b6b;
}
